<div class="navbar">

  <div class="nav-logo">
    <a href="/">
      <img src="/img/logo2.png" alt="Web Wizards Logo">
    </a>
  </div>

  <div class="nav-items">
    <div class="nav-item">
      <img src="/img/Home_Img .png" alt="Signup">
      <a href="/">HOME</a>
    </div>
    <div class="nav-item">
      <img src="/img/Edit_Img.png" alt="Edit">
      <a href="/edit"> EDIT </a>
        
        
      </a>
    </div>
    <div class="nav-item">
      <img src="/img/Loginj_Img.png" alt="Login">
      <a href="/login">LOGIN </a>
        
      </a>
    </div>
    <div class="nav-item">
      <img src="/img/Signup_Img.png" alt="Signup">
      <a href="/signup">SIGNUP </a>
        
      </a>
    </div>

    <div class="nav-item">
      <img src="/img/Logout.png" alt="Logout">
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
  
</div>


