<<<<<<< Updated upstream
  <nav>
  <div>
    <img src="/img/logo.jpg" alt="logo" style: width="150px"; height="100px">

    <div >
      <ul>
        <b>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/edit">Edit</a>
          </li>
        </b>
=======
<nav>
  <div class="navbar-container">
    <center><img src="/img/logo.jpg" alt="logo" style="width: 150px; height: 100px;"></center>
    <div class="navbar-links">
      <ul>

        <li>
          <a href="/">
            <center>
              <h1><strong>Home</strong></h1>
            </center>
          </a>
        </li>

        <center>
          <li>
            <a href="/edit">
              <h1><strong>Edit</strong></h1>
            </a>
          </li>
        </center>
>>>>>>> Stashed changes
      </ul>
    </div>
  </div>
</nav>