<nav>
  <div class="navbar-container">
    <center><img src="/img/logo.jpg" alt="logo" style="width: 150px; height: 100px;"></center>

    <div class="navbar-links">
      <ul>
        <li>
          <a href="/">
            <h1><strong>Home</strong></h1>
          </a>
        </li>
        <li>
          <a href="/edit">
            <h1><strong>Edit</strong></h1>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>