/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/*Table section */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th:nth-child(even),
td:nth-child(even) {
    background-color: #D6EEEE;
}

.book-table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.book-table td,
.book-table th {
    padding: 10px;
    border: 3px solid #000000;
    text-align: left;
}

/* Header and main nav partials */
header,
.main_nav {
    margin-bottom: 0px;
}

/* Main content area */
main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    margin-bottom: 20px;
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
}

input[type="text"],
input[type="date"],
input[type="text"] {
    /* Changed to 'text' for the 'category' */
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Book list styling */
li {
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    list-style-type: none;
    margin-bottom: 5px;
}

strong {
    color: #333;
    font-weight: bold;
}

/* Table styling */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th:nth-child(even),
td:nth-child(even) {
    background-color: #D6EEEE;
}

.book-table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
}

.book-table td {
    padding: 10px;
    border: 3px solid #000000;
}

.book-table strong {
    font-weight: bold;
    margin-right: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        width: 95%;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}

/* nav styling*/


nav {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-container img {
    width: 150px;
    height: 100px;
    margin-left: 20px;
}


.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.navbar-links ul li {
    padding: 0 20px;
}


.navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.navbar-links ul li a:hover {
    color: #ddd;
}




.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    width: 1000px;
}

.logo-container {
    margin-right: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

/* Login Page Styling*/

.login-container {

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    align-items: center;
}


.form-actions {
    text-align: center;
    padding-top: 10px;
}

.btn-login,
.btn-inLogin_signup {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login {
    background-color: #5c67ff;
    color: white;
}

.btn-inLogin_signup {
    background-color: #eee;
    margin-left: 10px;
}

.btn-inLogin_signup:hover {
    background-color: #ddd;
}

/*Sign up*/



.signup-container {

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    margin-right: 10px;
    white-space: nowrap;
    width: 30%;
}

.form-group input {
    width: 70%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
}

.btn-signup {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5c67ff;
    color: white;
}