/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* 

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    /* Changed to white for visibility */


*/

/* Header and main nav partials */
header,
.main_nav {
    margin-bottom: 0px;
}

/* Main content area */
main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    margin-bottom: 20px;
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
}

input[type="text"],
input[type="date"],
input[type="text"] {
    /* Changed to 'text' for the 'category' */
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Book list styling */
li {
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    list-style-type: none;
    margin-bottom: 5px;
}

strong {
    color: #333;
    font-weight: bold;
}

/* Table styling */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th:nth-child(even),
td:nth-child(even) {
    background-color: #D6EEEE;
}

.book-table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
}

.book-table td {
    padding: 10px;
    border: 3px solid #000000;
}

.book-table strong {
    font-weight: bold;
    margin-right: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        width: 95%;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}