<%- include('partials/header'); -%>
<%- include ('partials/main_nav.ejs') %>

<main>
    <div>
        <form action= "/login">
            <input type="text" name="email" placeholder="EMAIL" required />
            <input type="password" name="password" placeholder="PASSWORD" required />
            <button>Login</button>
        </form>
    </div>
    <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", async (e) => {
            try {
                e.preventDefault();
                const email = form.email.value; 
                const password = form.password.value;
                const res = await fetch("/signup",{
                    method: "post",
                    body: JSON.stringify({email,password}),
                    headers:{"Content-type":"application/json"}
                });
                const data = await res.json();
                console.log(data);
                location.assign("/");
            } catch (error) {
                console.dir(error);
            }
        })
    </script>
</main>